html {
  background: radial-gradient(#c0eaf1, #daadee);
}
.App {
  text-align: center;
  /* background: radial-gradient(#c0eaf1, #daadee); */
  min-height: 95vh;
}

.title {
  text-decoration: underline;
  margin: 5vh auto;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-set {
  width: 23%;
  /* height:  */
  border-radius: 16px;
  border: 2px solid blue;
}

.random-button {
  margin: 3vh auto;
}

.specific-buttons {
  margin: 3vh auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.specific-buttons button {
  margin: 10%;
}


@media (max-width: 500px) {
  .buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .button-set {
    width: 50%;
  }
}